---
layout: layout.njk
---

<section class="index-wrapper">
  <h1>Hello</h1>

  <div class="photos">
    <a href="/about" class="img-1" data-transition="custom">
      <figure>
        <img src="/assets/1.jpg" alt="">
      </figure>
      <figure class="transition-asset">
        <img src="/assets/1.jpg" alt="">
      </figure>
    </a>

    <a href="/work" class="img-2" data-transition="custom">
      <figure>
        <img src="/assets/2.jpg" alt="">
      </figure>
      <figure class="transition-asset">
        <img src="/assets/2.jpg" alt="">
      </figure>
    </a>
  </div>
</section>